@forward "reset";
@forward "variables/global";
@forward "themes/standard";

.app {
	font: var(--font-m);
	color: var(--on-surface-color);
	margin: 0 auto;
	background: var(--surface-color);
	min-height: 100vh;
	max-width: var(--app-width);
	min-width: var(--app-min-width);
	box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
}

.content-page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}
